# Ignora i file del database
lab_app.db

# Ignora i file di log
*.log
log/

# Ignora i file temporanei di socket
*.sock

# Ignora cartelle virtualenv
bin/
include/
lib/
share/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

