<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lab Home page</title>
    <meta name="description" content="Lab Mome Page">
    <meta name="author" content="Ezio">
    <!-- Mobile Specific Metas --> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
  </head>
  <body>
    </br>
     <div class="container">
       <h2>Welcome to Ezio's LAB</h2>
       </br></br>
       <h4>Get <a href='/lab_temp'>current Temp & Hum </a></h4>
       </br></br>    
       
       <!-- Control Relay T1 -->
       <h4>Relay Control</h4>
       <form action="/T1_on/" method="post">
         <input class="button-primary" type="submit" value="Relay ON">
        </form>
        <form action="/T1_off/" method="post">
          <input class="button-primary" type="submit" value="Relay OFF">
        </form>
        </br>
        {% if T1_status %}
            <h4>Relay is currently {{ T1_status }}</h4>
        {% endif %}

<!-- AGGIUNGERE PARTE T1 e PANEL... -->
       
      </br></br>
      <h4><a href='/lab_photos'>LAB photos</a></h4>
    </div>
  </body>
</html>
