<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Lab Conditions by RPi</title>
    <meta name="description" content="Lab conditions - RPi">
    <meta name="author" content="Ezio">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
  </head>
  <body>
    </br>
    <div class="container">
      <a href="/">Home</a></br>
      <a href="/lab_temp">Current Temp & Hum</a></br></br></br>
      <img src="/static/photo1.jpg" alt="no photo" style="max-width:100%" height="auto">
      <img src="/static/photo2.jpg" alt="no photo" style="max-width:100%" height="auto">
    </div>
</html>
